* {
    width: 100%;
}

.header {
    height: 15%;
}

.container {
    width: 60%;
    margin-left: 200px;
    margin-right: 200px;
    padding: auto;
}

.article {
    margin: 50px;
}

.coluna {
    width: 5%;
    float: left;
    padding: 20px;
    background-color: #FF00FF;
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }